/*
 * SENTINEL LAYOUT & THEME
 * Designed by Cem ALTUN - jamaltun@gmail.com
 * Supported Browsers > Google Chrome 3+ , Mozilla Firefox 3+ , Safari 3+ , Opera 3+ , Yandex Browser , Inernet Explorer 9+
 * Copyright 2014 - PrimeFaces Theme Market - PrimeTek */

/* */

/* FONT-FACE*/
@font-face {
	font-family: 'titillium_webregular';
	src: url("#{resource['sentinel-layout:fonts/titilliumweb-regular-webfont.eot']}");
	src: url("#{resource['sentinel-layout:fonts/titilliumweb-regular-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['sentinel-layout:fonts/titilliumweb-regular-webfont.woff']}") format('woff'), url("#{resource['sentinel-layout:fonts/titilliumweb-regular-webfont.ttf']}") format('truetype'), url("#{resource['sentinel-layout:fonts/titilliumweb-regular-webfont.svg']}#titillium_webregular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'titillium_websemibold';
	src: url("#{resource['sentinel-layout:fonts/titilliumweb-semibold-webfont.eot']}");
	src: url("#{resource['sentinel-layout:fonts/titilliumweb-semibold-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['sentinel-layout:fonts/titilliumweb-semibold-webfont.woff']}") format('woff'), url("#{resource['sentinel-layout:fonts/titilliumweb-semibold-webfont.ttf']}") format('truetype'), url("#{resource['sentinel-layout:fonts/titilliumweb-semibold-webfont.svg']}#titillium_websemibold") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'titillium_webbold';
	src: url("#{resource['sentinel-layout:fonts/titilliumweb-bold-webfont.eot']}");
	src: url("#{resource['sentinel-layout:fonts/titilliumweb-bold-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['sentinel-layout:fonts/titilliumweb-bold-webfont.woff']}") format('woff'), url("#{resource['sentinel-layout:fonts/titilliumweb-bold-webfont.ttf']}") format('truetype'), url("#{resource['sentinel-layout:fonts/titilliumweb-bold-webfont.svg']}#titillium_webbold") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'titillium_webbold_italic';
	src: url("#{resource['sentinel-layout:fonts/titilliumweb-bolditalic-webfont.eot']}");
	src: url("#{resource['sentinel-layout:fonts/titilliumweb-bolditalic-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['sentinel-layout:fonts/titilliumweb-bolditalic-webfont.woff']}") format('woff'), url("#{resource['sentinel-layout:fonts/titilliumweb-bolditalic-webfont.ttf']}") format('truetype'), url("#{resource['sentinel-layout:fonts/titilliumweb-bolditalic-webfont.svg']}#titillium_webbold_italic") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'titillium_websemibold_italic';
	src: url("#{resource['sentinel-layout:fonts/titilliumweb-semibolditalic-webfont.eot']}");
	src: url("#{resource['sentinel-layout:fonts/titilliumweb-semibolditalic-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['sentinel-layout:fonts/titilliumweb-semibolditalic-webfont.woff']}") format('woff'), url("#{resource['sentinel-layout:fonts/titilliumweb-semibolditalic-webfont.ttf']}") format('truetype'), url("#{resource['sentinel-layout:fonts/titilliumweb-semibolditalic-webfont.svg']}#titillium_websemibold_italic") format('svg');
	font-weight: normal;
	font-style: normal;
}

.FontTitilliumRegular {
	font-family: 'titillium_webregular !important';
}
.FontTitilliumBoldItalic {
	font-family: 'titillium_webbold_italic' !important;
}
.FontTitilliumSemiBoldItalic {
	font-family: 'titillium_websemibold_italic' !important;
}

/*Display*/

/*BODY*/
body {
	background-color: #FFF;
	margin: 0;
}

/* LOGIN PAGE */
.login-back {
	background-image: url("#{resource['sentinel-layout:images/login-bg.jpg']}");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}
.loginForm{
	width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    background: rgba(255, 255, 255, 0.8);
    padding:30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.error-back {
	background-image: url("#{resource['sentinel-layout:images/error-back.svg']}");
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 900px;
	background-attachment: fixed;
}

#login-logo {
	width: auto;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
#login-logo img {
	height: 30px;
}

#login-box {
	min-height: 250px;
	margin-bottom: 20px;
	overflow: hidden;
	border: solid 1px #C0C5C7;
}
.TabBtn {
	background-color: #F4F7F9;
	padding: 20px 0px;
	cursor: pointer;
	border-bottom: solid 1px #E6E8E8;
	color: #96A5AE;
	font-size: 22px;
}
.TabBtn:hover {
	color: #00AEEF;
}
.TabBtnActiveLeft {
	background-color: #ffffff;
	cursor: auto;
	border-bottom: solid 1px #E6E8E8;
	color: #00AEEF;
	border-right: solid 1px #E6E8E8;
}
.TabBtnActiveRight {
	background-color: #ffffff;
	cursor: auto;
	border-bottom: solid 1px #E6E8E8;
	color: #00AEEF;
	border-left: solid 1px #E6E8E8;
}

#login-box {
	font-size: 14px;
}
#login-box input[type="text"], #login-box input[type="password"] {
	border: solid 1px #C0C5C7 !important;
	height: 32px !important;
	box-shadow: none;
	color: #00AEEF !important;
	text-align: center;
	margin: auto !important;
    font-size: 14px !important;
}
#login-box input[type="text"], #login-box input[type="password"]:FOCUS {
	text-align: center !important;
}
#login-box input[type="text"]:hover, #login-box input[type="text"]:focus, #login-box input[type="password"]:hover, #login-box input[type="password"]:focus {
	border: solid 1px #00AEEF !important;
}
#login-box .ui-button {
	border: none !important;
	box-shadow: none;
	width: 100%;
	height: 35px;
	border-radius:2px !important;
}
#login-box .ui-button .ui-button-text {
	padding: 11px !important;
    font-size: 12px !important;
    margin: 0 auto;
}

/* HEADER BAR */

#layout-header {
	width: 100%;
	display: block;
	position: fixed;
	z-index: 998;
	box-sizing: content-box;
	border-bottom: solid 2px #6BCCED;
	background: #ffffff;
	/*				background: -moz-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
	 background: -webkit-gradient(left top, left bottom, color-stop(0%, #1578c9), color-stop(100%, #0b66b1));
	 background: -webkit-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
	 background: -o-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
	 background: -ms-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
	 background: linear-gradient(to bottom, #1578c9 0%, #0b66b1 100%);
	 -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
	 -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
	 box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4); */
}

#layout-logo {
	width: auto;
	margin-bottom: -2px;
	padding: 0px;
	margin: 10px;
	float: left;
	line-height: 32px;
}
#layout-logo img {
	height: 33px;
}

.layout-header-widgets {
	margin: 0px;
	padding: 0px;
	position: absolute;
	right: 10px;
	top: 6px;
}
.layout-header-widgets li {
	background-color: #6BCCED;
	width: 34px;
	height: 34px;
	margin-left: 10px; /*for background transition overflow problem of safari*/
	-webkit-backface-visibility: hidden;
}
.layout-header-widgets li:hover {
	background-color: #d4871e;
}
.layout-header-widgets li i {
	margin-top: 9px;
	display: block;
	cursor: pointer
}
.alertBubble {
	background-color: #e90c45;
	color: #ffffff;
	overflow: hidden;
	padding: 3px 4px;
	display: inline-block;
	position: absolute;
	margin-top: -5px;
}

.layout-header-widgets-submenu {
	width: 200px;
	padding: 4px;
	padding-top: 16px;
	margin: 0px;
	position: relative;
	margin-top: 8px;
	margin-left: -180px;
	overflow: auto;
	display: none;
	max-height: 300px;
	background-image: url("#{resource['sentinel-layout:images/popupBlueArrow.png']}");
	background-repeat: no-repeat;
	background-position: top right;
}
.layout-header-widgets-submenu li {
	padding: 0px;
	margin: 0px;
	margin-left: 0px !important;
	border-bottom: solid 1px #CDCDCD;
	width: 100% !important;
	height: auto !important;
	display: block;
	background-color: #6BCCED;
}
.layout-header-widgets-submenu li i {
	float: left;
	margin: 0px 10px !important;
}
.layout-header-widgets-submenu li a {
	padding: 10px;
	display: block;
	text-align: left;
	overflow: hidden;
}

/* MENU BAR */
#layout-menubar {
	border-bottom: solid 1px #ebebeb;
	float: left;
	position: relative;
	z-index: 997 !important;
	background-image: url("#{resource['sentinel-layout:images/left-bg.png']}");
	background-size: 100% 100%;
	background-origin: content-box;
}
.bigmenu {
	width: 260px;
	border-right: solid 1px #272727;
}
.layout-menubarinner-box {
	display: table;
	padding: 5px 15px;
	overflow: hidden;
	background: url('Admin/resources/sentinel-layout/images/menu-bg.png');
	background-size: cover;
}
#layout-menubar-resize {
	display: inline-block;
	padding: 5px;
	color: #FFD100;
	float: right;
}
#layout-menubar-resize2 {
	display: none;
	padding: 5px;
	background-color: #2B2B2B;
	color: #FFD100;
	float: right;
}
.layout-menubar-search {
	width: 200px;
	padding: 0px 0px 3px 0px;
	border: 0px;
	border: none;
	background-color: transparent;
	outline: none;
	border-bottom: solid 1px #5A5A5A;
	color: #5A5A5A !important;
	font-size: 14px;
}
.layout-menubar-search:focus {
	color: #939393 !important;
}
.layout-menubar-container {
	height:100vh;
	width: 254px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 60px;
}
#layout-menubar li {
	width: 100%;
	padding: 0px;
	color: #D9D9D9;
	font-size: 10px;
	cursor: pointer;
}
#layout-menubar li:hover {
	background-color: #6BCCED;
	color: #FFF
}

#layout-menubar li a {
	color: #5a5a5a;
	padding: 11px;
	font-size: 14px;
	padding-left: 15px;
	display: block;
	border-bottom: solid 1px #DDD;

}
#layout-menubar li a:hover {
	background-color: #6BCCED;
	color: #FFF;
	padding-left: 20px;
}
#layout-menubar li a:active {
	color: #FFFF00
}

#layout-menubar li ul li {
	background-color: #FFF;
}
#layout-menubar li ul li:hover {
	background-color: #FFF;
}
#layout-menubar li ul li a {
	padding: 9px;
	font-size: 12px;
}
#layout-menubar li ul li a:hover {
	background-color: #6BCCED;
}
#layout-menubar li ul li a:active {
	color: #FFFF00;
}
.layout-menubar-submenu-container {
	padding: 0px;
	overflow: hidden;
	display: none;
}
.layout-menubar-submenu-open {
	background-color: #353333;
}

#layout-menubar.layout-menubar-open-fullscr {
	height: 100%;
	overflow-y: scroll;
	max-height: 100%;
}
#layout-menubar.layout-menubar-open-fullscr li {
	width: 100%;
}

/* SEARCH AREA */

.slimsearch:hover {
	position: relative;
	background-color: #303030;
	width: 280px !important;
}
.slimsearch:hover input {
	display: inline-block !important;
}
.slimsearch i {
	margin-left: 6px;
	margin-right: 13px;
}
.slimsearch:hover i {
	color: #FFD100;
}
.slimsearch:hover input {
	border-bottom: 0px !important;
	margin-bottom: -1px;
}

/* MENUBAR SLIM */
.slimmenu {
	width: 50px;
	z-index: 99999999 !important;
}
.slimmenu .layout-menubarinner-box {
	padding: 8px 9px;
}
.slimmenu #layout-menubar-resize {
	float: left;
}
.slimmenu .layout-menubar-container {
	width: 48px;
}
.slimmenu .layout-menubarinner-box {
	width: 32px;
}
.slimmenu .layout-menubarinner-box input {
	display: none;
}
.slimmenu .layout-menubar-container > li {
	height: 40px;
	overflow: hidden;
}
#layout-menubar.slimmenu .layout-menubar-container > li:hover {
	position: relative;
	width: 330px;
	min-height: 50px !important;
	height: auto;
}
.slimmenu li a {
	width: 256px;
	border-bottom: 1px solid #4D4D4D;
}
.slimmenu li a:hover {
	color: #FFD100;
	padding-left: 25px;
}
.slimmenu li:hover a {
	display: block;
	width: auto;
}
.slimmenu .layout-menubar-container li a .i {
	margin-right: 20px;
}

/* PORTLETS COVER */
#layout-portlets-cover {
	background-color: #ffffff;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	color: #5a5a5a;
	
}

#sm-mobiletopmenu {
	display: none;
}

/* OTHERS -----------------------------------------------------------------*/
a {
	text-decoration: none;
	outline: none;
}
img {
	outline: none;
}
hr {
	border: 0;
	height: 1px;
	margin: 5px 0;
}
li {
	list-style: none;
}
button {
	padding: 0
}
.showCode {
	width: 98%;
	max-width: 98%;
	padding: 10px;
	border: 0px;
	overflow-x: hidden;
	background-color: transparent;
	min-height: 100px;
}
.Top20Percent {
	top: 20%;
}

/* button colors */
.RedButton .ui-button-text {
	background: #c91515;
}
.RedButton:hover .ui-button-text, .RedButton:focus .ui-button-text {
	color: #ffffff !important;
	background: #b10b0b;
}

.GreenButton .ui-button-text {
	background: #2dc915;
}
.GreenButton:hover .ui-button-text, .GreenButton:focus .ui-button-text {
	color: #ffffff !important;
	background: #0bb113;
}

.OrangeButton .ui-button-text {
	background: #c99f15;
}
.OrangeButton:hover .ui-button-text, .OrangeButton:focus .ui-button-text {
	color: #ffffff !important;
	background: #b1900b;
}

/* shadow for elements*/
.shadows {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

/* font colors */
.mainblue {
	color: #00AF0;
}
.mainorange {
	color: #d4871e;
}
.ghostwhite {
	color: #f8f8ff;
}
.lightgray {
	color: #CCC;
}
.lightergray {
	color: #DDD;
}
.gray {
	color: #5A5A5A;
}
.softgray {
	color: #909090;
}
.lightblue {
	color: #00AFF0;
}
.yellow {
	color: #FFD100;
	margin-right: 5px;
}
.yellow1 {
	color: #FFD100;
}
.white {
	color: #ffffff;
}
.whiteI {
	color: #ffffff !important;
}
.red {
	color: #e90c45;
}
.orange {
	color: #F15A29;
}
.softblue {
	color: #C1E1F4;
}
.hardblue {
	color: #27AAE1;
}
.leaden {
	color: #5a5a5a;
}
.darkblue {
	color: #0c4ca3;
}
.grayblue {
	color: #527989;
}

/* bordered boxes */
.GrayBorderedBox {
	border: solid 1px #C0C5C7;
}
.BorBotGray {
	border-bottom: solid 1px #C0C5C7;
}
.BorBotLeaden {
	border-bottom: solid 1px #E4E9EC;
}

/* background colors */
.white-back {
	background-color: #ffffff;
}
.red-back {
	background-color: #EF3C56 !important;
}
.gray-back {
	background-color: #F7F7F7;
}
.leaden-back {
	background-color: #FBFCFD;
}
.orange-back {
	background-color: #F15A29;
}
.grayback {
	background-color: #F7F7F7;
}
.lightgray-b {
	background-color: #DDD;
}
.ghostwhite {
	background-color: #f8f8ff;
}



.orange-back-bi {
	background-color: #F15A29 !important;
}

.mainblue-bi {
	background-color: #6BCCED !important;
}
.mainblue-bi td span {
	color : #ffffff !important;
}

/* background colors */
.mainblue-b {
	background-color: #6BCCED;
}
.mainorange-b {
	background-color: #d4871e;
}
.ghostwhite-b {
	background-color: #f8f8ff;
}
.lightgray-b {
	background-color: #CCC;
}
.lightergray-b {
	background-color: #DDD;
}
.softBrownBack {
	background-color: #DBD0BD;
}
.softGreenBack {
	background-color: #8BD8B1;
}
.softOrangeBack {
	background-color: #F9BB70;
}
.softYellowBack {
	background-color: #FFE771;
}
.softRedBack {
	background-color: #d4871e;
}
.softBlueBack {
	background-color: #6BCCED;
}
.softGrayBack {
	background-color: #F2F2F2;
}

/* margin for layout menu bar links*/
.marginLevel-1 {
	margin-left: 20px;
}
.marginLevel-2 {
	margin-left: 40px;
}
.marginLevel-3 {
	margin-left: 60px;
}
.marginLevel-4 {
	margin-left: 80px;
}
.marginLevel-5 {
	margin-left: 90px;
}
.marginLevel-6 {
	margin-left: 100px;
}
.marginLevel-7 {
	margin-left: 110px;
}
.marginLevel-8 {
	margin-left: 120px;
}
.marginLevel-9 {
	margin-left: 130px;
}
.marginLevel-10 {
	margin-left: 140px;
}
.marginLevel-11 {
	margin-left: 145px;
}
.marginLevel-12 {
	margin-left: 150px;
}
.marginLevel-13 {
	margin-left: 155px;
}
.marginLevel-14 {
	margin-left: 160px;
}
.marginLevel-15 {
	margin-left: 165px;
}
.marginLevel-16 {
	margin-left: 170px;
}
.marginLevel-17 {
	margin-left: 175px;
}
.marginLevel-max {
	margin-left: 180px;
}

/*Select item language*/

.languageSelect {
	border-radius: 5px;
	border-color: #CDCDCD;
	color: cadetblue;
	font-size: 0.8em;
	text-transform:uppercase;
}

/* fonts */
.fontRegular {
	font-family: 'Arial, ' Helvetica Neue ', Helvetica, sans-serif' !important;
}
.fontItalic {
	font-style: italic;
}

.fontSemibold {
	font-family: 'titillium_websemibold';
}
.fontSemiboldItalic {
	font-family: 'titillium_websemibold_italic';
}

.fontBold {
	font-family: 'titillium_webbold';
}
.fontBoldItalic {
	font-family: 'titillium_webbold_italic';
}
/*Border Icons Page CSS ======================================================================================================== */
.icon {
	border-radius: 100px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	background-color: #27AAE1 !important;
	padding-bottom: 10px;
	margin-right: 5px;
	margin-left: 10px;
}

/* Font Icons Page CSS ======================================================================================================== */
.row {
	margin-left: -20px;
	*zoom: 1;
}
.row:before, .row:after {
	display: table;
	content: "";
	line-height: 0;
}
.row:after {
	clear: both;
}
[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
.fi-container, .navbar-static-top .fi-container, .navbar-fixed-top .fi-container, .navbar-fixed-bottom .fi-container {
	width: auto;
}
.span12 {
	width: 940px;
}
.span11 {
	width: 860px;
}
.span10 {
	width: 780px;
}
.span9 {
	width: 700px;
}
.span8 {
	width: 620px;
}
.span7 {
	width: 540px;
}
.span6 {
	width: 460px;
}
.span5 {
	width: 380px;
}
.span4 {
	width: 300px;
}
.span3 {
	width: 23%;
}
.span2 {
	width: 140px;
}
.span1 {
	width: 60px;
}
[class*="span"].pull-right, .row-fluid [class*="span"].pull-right {
	float: right;
}
.fi-container {
	*zoom: 1;
}
.fi-container:before, .fi-container:after {
	display: table;
	content: "";
	line-height: 0;
}
.fi-container:after {
	clear: both;
}

p {
	display: block;
	font-size: 14px;
	padding: 0.25em 0 !important;
	margin: 0 !important;
}
p {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.lead {
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 200;
	line-height: 30px;
}
small {
	font-size: 85%;
}
.the-icons {
	font-size: 20px;
	line-height: 40px;
}
.switch {
	position: absolute;
	right: 0;
	bottom: 10px;
	color: #666;
}
.switch input {
	margin-right: 0.3em;
}
.codesOn .i-name {
	display: none;
}
.codesOn .i-code {
	display: inline;
}
.i-code {
	display: none;
}

#buttonArea {
	display: block;
}

#sm-topmenu > li:focus, #sm-topmenu a:focus {
	background-color: #165686 !important;
}

#buttonArea > a:focus {/*-webkit-box-shadow: inset 0px 0px 0px 1px rgba(100,100,100,1);
	 -moz-box-shadow: inset 0px 0px 0px 1px rgba(100,100,100,1);
	 box-shadow: inset 0px 0px 0px 1px rgba(100,100,100,1);*/
}

#layout-menubar .layout-menubar-container li a:focus {
}
#layout-menubar {

	border-right: solid 1px #ebebeb;
	border-bottom: 0;
}

/* MEDIA QUERIES **************************************************************************************************************** */
@media (min-width: 1201px) {
	#layout-menubar {
		width: 256px;
	}

	#layout-menubar.slimmenu {
		width: 48px;
	}
}

@media (min-width: 641px) {
	#sm-topmenu li, #sm-topmenu li.active-topmenuitem {
		height: 34px;
	}

	#layout-menubar.layout-menubar-open-fullscr {
		height: auto;
		overflow-y: visible;
		max-height: auto;
	}
	#layout-menubar.layout-menubar-open-fullscr li {
		width: 100%;
	}

	body.OvHidden {
		overflow: visible;
	}
}

@media (min-width: 641px) and (max-width: 1200px) {
	#buttonArea {
		display: none;
	}

	/* Slim Search */
	#searchArea {
		width: 48px
	}
	#searchArea:hover {
		position: relative;
		background-color: #303030;
		width: 280px !important;
	}
	#searchArea:hover input {
		display: inline-block !important;
	}
	#searchArea i {
		margin-left: 6px;
		margin-right: 13px;
	}
	#searchArea:hover i {
		color: #FFD100;
	}
	#searchArea:hover input {
		border-bottom: 0px;
		margin-bottom: -1px;
	}

	/* Slim Menu */
	#layout-menubar {
		width: 48px;
	}
	#layout-menubar .layout-menubarinner-box {
		padding: 10px 9px;
	}
	#layout-menubar #layout-menubar-resize {
		float: left;
	}
	#layout-menubar .layout-menubar-container {
		width: 48px;
	}
	#layout-menubar .layout-menubarinner-box {
		width: 48px;
	}
	#layout-menubar .layout-menubarinner-box input {
		display: none;
	}
	#layout-menubar .layout-menubar-container > li {
		height: 40px;
		overflow: hidden;
	}
	#layout-menubar .layout-menubar-container > li:hover {
		position: relative;
		width: 330px;
		min-height: 50px !important;
		height: auto;
	}
	#layout-menubar li a {
		width: 256px;
		border-bottom: 1px solid #DDD;
	}
	#layout-menubar li a:hover {
		color: #FFF;
		padding-left: 25px;
	}
	#layout-menubar li:hover a {
		display: block;
		width: auto;
	}
	#layout-menubar .layout-menubar-container li a .i {
		margin-right: 20px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 860px) {
	#layout-logo {
		margin: 15px 2%;
	}
	#layout-menubar, .slimmenu {
		position: fixed;
		background-color: #3D3D3D;
		width: 100%;
		min-height: 50px !important;
		max-height: 50px;
		overflow: hidden;
		z-index: 997;
	}
	.layout-menubar-container {
		width: 100%;
	}
	#layout-menubar-resize {
		display: none;
	}
	#layout-menubar-resize2 {
		display: inline-block;
	}
	#buttonArea {
		width: auto;
		padding: 1% 2%;
		float: right;
	}
	.layout-menubar-container {
		margin-top: 55px;
	}
	.layout-menubar-search {
		border-bottom: none;
	}

	#sm-topmenu {
		padding: 0px;
		width: 50%;
		max-height: 80%;
		position: fixed;
		top: 50px;
		padding: 14px;
		display: none;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		background-image: url("#{resource['sentinel-layout:images/popupBlueArrow.png']}");
		background-repeat: no-repeat;
		background-position: right top;
	}
	#sm-topmenu > li {
		width: 100%;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		margin: 0px;
		border-bottom: solid 1px #F8F8FF;
		min-height: 47px;
		height: 47px;
		font-size: 11px;
		overflow: hidden;
	}
	#sm-topmenu > li > i {
		font-size: 20px;
		overflow: hidden;
		margin: 11px 0px;
		display: block;
	}
	#sm-topmenu > li .alertBubble {
		margin: -20px 0px 0px 10px;
		right: 52%;
	}

	#sm-topmenu > li ul {
		width: auto;
		position: static;
		display: block;
		height: auto;
		margin: 0px;
		padding: 0px;
		webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		top: 0;
		right: 0;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
	#sm-topmenu.DispBlock {
		display: block;
		overflow-y: auto;
	}

	#sm-topmenu li.active-topmenuitem {
		height: auto;
	}

	#layout-portlets-cover {
		padding-top: 110px;
		display: none
	}

	/* LOGIN */
/* 	.login-back { */
/* 		background-size: 100%; */
/* 		background-position: -200px; */
/* 	} */
/* 	#login-logo { */
/* 		line-height: 26px; */
/* 	} */
/* 	#login-logo span { */
/* 		font-size: 26px !important; */
/* 	} */
/* 	#login-logo img { */
/* 		height: 26px; */
/* 	} */
/* 	.TabBtn { */
/* 		font-size: 16px; */
/* 	} */
/* 	#login-box input[type="text"] { */
/* 		border: solid 1px #C0C5C7; */
/* 		padding: 10px !important; */
/* 		box-shadow: none; */
/* 		color: #00AEEF !important; */
/* 		text-align: center; */
/* 		font-size: 16px; */
/* 	} */
/* 	#login-box .ui-button { */
/* 		border: none !important; */
/* 		box-shadow: none; */
/* 		width: 90%; */
/* 	} */
/* 	#login-box .ui-button .ui-button-text { */
/* 		padding: 12px !important; */
/* 		font-size: 16px !important; */
/* 	} */

	#sm-mobiletopmenu {
		display: block;
	}

	#searchArea {
		width: auto !important;
		padding: 2% !important;
		float: left !important;
	}
	.slimmenu #searchArea.layout-menubarinner-box input {
		display: inline-block;
	}
	#searchArea.slimsearch:hover {
		position: relative;
		background-color: transparent;
		width: auto;
	}
	#searchArea.slimsearch:hover input {
		display: inline-block !important;
	}
	#searchArea.slimsearch i {
		margin-left: 0px;
		margin-right: 0px;
	}
	#searchArea.slimsearch:hover i {
		color: #5A5A5A;
	}
}

/* Portrait phones and down */
@media (min-width: 320px) and (max-width: 480px) {
	#layout-logo {
		margin: 15px 2%;
	}
	#layout-menubar, .slimmenu {
		position: fixed;
		background-color: #3D3D3D;
		width: 100%;
		min-height: 50px !important;
		max-height: 50px;
		overflow: hidden;
		z-index: 99999999;
	}
	.layout-menubar-container {
		width: 100%;
	}
	#layout-menubar-resize {
		display: none;
	}
	#layout-menubar-resize2 {
		display: inline-block;
	}
	#buttonArea {
		width: auto;
		padding: 1.5% 2%;
		float: right;
	}
	#searchArea {
		width: auto;
		padding: 2.5% 2% 2.5% 2%;
		float: right;
	}
	.layout-menubar-container {
		margin-top: 55px;
	}
	.layout-menubar-search {
		border-bottom: none;
	}

	/* LOGIN */
/* 	.login-back { */
/* 		background-size: 300%; */
/* 		background-position: -300px; */
/* 	} */
/* 	#login-logo { */
/* 		line-height: 20px; */
/* 	} */
/* 	#login-logo span { */
/* 		font-size: 20px !important; */
/* 	} */
/* 	#login-logo img { */
/* 		height: 20px; */
/* 	} */
/* 	.TabBtn { */
/* 		font-size: 12px; */
/* 	} */
/* 	#login-box input[type="text"] { */
/* 		border: solid 1px #C0C5C7 !important; */
/* 		padding: 10px !important; */
/* 		box-shadow: none; */
/* 		color: #00AEEF !important; */
/* 		text-align: center; */
/* 		font-size: 14px !important; */
/* 	} */
/* 	#login-box .ui-button { */
/* 		border: none !important; */
/* 		box-shadow: none; */
/* 		width: 90%; */
/* 	} */
/* 	#login-box .ui-button .ui-button-text { */
/* 		padding: 12px !important; */
/* 		font-size: 14px !important; */
/* 	} */
}

#layout-portlets-cover:before, #layout-portlets-cover:after {
	content: "";
	display: table;
	border-collapse: collapse;
}

#layout-portlets-cover:after {
	clear: both;
}

/*Form Style Sheet*/
.selectItem {
	padding: 20px;
}
.selectItem:hover {
	background-color: #DDD
}
.pageNumber {
	float: right;
	margin: 10px 5px 10px 5px;
}

.pageNumber span {
	background-color: #CCC;
	color: #FFF !important;
}

.pageNumberItem {
	background-color: #FFF;
	padding: 5px 12px;
	float: left;
	border-style: solid;
	border-width: 1px;
	color: #808080;
	border-color: #DDD;
	border-left: none;
}
.pageNumberItem:hover {
	background-color: #CCC;
	color: #FFF;
}
.pageNumberItembtn {
	background-color: #FFF;
	padding: 6.5px 12px;
	float: left;
	border-style: solid;
	border-width: 1px;
	color: #808080;
	border-color: #DDD;
}
.thinpageborder {
	border-left: none;
}
input.pageNumberItembtn:disabled{
	background-color: #FFF !important;
	padding: 6.5px 12px;
	float: left;
	border-style: solid;
	border-width: 1px;
	color: #808080 !important;
	border-color: #DDD;}
.pageNumberItembtn:hover {
	color: #FFF;
	background-color: #CCC;
}

.pageNumberItembtn:hover {
	color: #FFF;
	background-color: #CCC;
}
.IdenFormTitle {
	margin: 4px 10px 0px 4px;
}

.searchbutton  .ui-button-text {
	display: none !important
}
.searchbutton {
	background-image: url("#{resource['sentinel-layout:images/search-icon.png']}") !important;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-color: #d4871e;
	height: 23px;
	top:0;
	border: none !important ;
	background-size: cover;
	background-position: top;
	border-radius: 0 !important;
	display: block;
	border-left-width: 0;
	width: 25px;
}
.searchbutton:hover {
	background-color: #DDD;
}

span ui-button-text {
	display: none;
}

.IdenFilterInput {
	border-color: #CDCDCD;
	border-width: 1px;
	border-style: solid;
	border-right: 0;
	width: 180px;
	border-radius: 5px 0 0 5px;
	height: 22px !important;
	padding-left:10px !important;
}
.IdenCreatenew {
	border: none;
	border-radius: 0;
	float: left;
}

/*Identity Layout*/

.no-top {
	margin-top: 0 !important;
}

.panelactive-click {
	border-radius: 0;
	border-top: solid 1px #f8f8ff;
	background-color: #00AFF0;
}
.panelactive-click, .panelactive-click div {
	color: #FFF;
}
.panelactive {
	border-radius: 0;
	border-top: solid 1px #f8f8ff;
}

#even .panelactive {
	background-color: #FFF;
}
#odd .panelactive {
	background-color: #F8f8ff;
}

.panelactive_block, .panelactive_block div {
	background-color: #F9FBFC;
}

/*Step Control*/

.StepMenu {
	background-color: #f6f6f6;
	height: 25px;
	line-height: 25px;
}
.stepnum {
	width: 25px;
	border-radius: 15px;
	text-align: center;
	background-color: #33bff3
}
.stepcontent {
	padding-left: 10px
}

.disable-role {
	color: #e90c45 !important;
}

.disable-role td span {
	color : #e90c45 !important;
}

.disable-role td a {
	color : #e90c45 !important;
}


